node_modules
dist
out
*.vsix
.vscode
*.vscode-test
*.buildinfo
*.tsbuildinfo
coverage
.coverage
.nyc_output
types/lib
types/types
tsconfig.tsbuildinfo
.dccache
/res/**/home.*
/res/css
/res/font/codicon.ttf
/res/js
/res/page
/res/img/webview
Subset.zip
